# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

REDIS_URL=redis://redis:6379

CONFIG_GITHUB_USER=Okty-io
CONFIG_GITHUB_REPO=okty-config
CONFIG_GITHUB_BRANCH=master

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=08fda8a2582b95f9f70217e0e6bd3683
###< symfony/framework-bundle ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN=^https?://127.0.0.1(:[0-9]+)?$
###< nelmio/cors-bundle ###

###> knplabs/github-api ###
GITHUB_AUTH_METHOD=http_password
GITHUB_USERNAME=username
GITHUB_SECRET=password_or_token
###< knplabs/github-api ###

###> aws/aws-sdk-php-symfony ###
AWS_KEY=not-a-real-key
AWS_SECRET=@@not-a-real-secret
###< aws/aws-sdk-php-symfony ###
